@font-face {
    font-family: 'Comfortaa';
    src: url(../font/Comfortaa/Comfortaa-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../font/Comfortaa/Comfortaa-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}



@font-face {
    font-family: 'FontAwesome Brands';
    src: url(../icon/fa-brands-400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'FontAwesome Duotone';
    src: url(../icon/fa-duotone-900.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../icon/fa-light-300.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../icon/fa-regular-400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../icon/fa-solid-900.ttf);
    font-weight: 900;
}

.far{
    font-family: 'FontAwesome';
    font-weight: 400;
}
.fal{
    font-family: 'FontAwesome';
    font-weight: 300;
}
.fas{
    font-family: 'FontAwesome';
    font-weight: 900;
}
.fab{
    font-family: 'FontAwesome Brands';
    font-weight: 400;
}
.fad{
    font-family: 'FontAwesome Duotone';
    font-weight: 900;
}

.icon-film::before{
    content: '\f008';
    font-style: normal;
    font-size: 50px;
    color: #ffff;
}

.icon-play{
    font-size: 40px;
    position: relative;
}

.icon-play::before{
    content: '\f04b';
    color: white;
    font-style:normal;
    position: absolute;
}
.icon-play::after{
    content: '\10f04b';
    color: rgba(255, 255, 255, 0.5);
    font-style:normal;
}